@{
    ViewData["Title"] = "Home Page";
}

@model Usuario


@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>

<div class="form-container">
    <h4>Crear Usuario</h4>
    <form asp-action="Crear" method="post">
        <label asp-for="Nombre">Usuario</label>
        <input asp-for="Nombre" type="text" placeholder="Ingrese el nombre de usuario" class="form-control" />
        <label asp-for="Contrasenia">Contraseña</label>
        <input asp-for="Contrasenia" type="password" placeholder="Ingrese la contraseña" class="form-control" />
        <input type="submit" value="Ingresar" class="btn btn-primary" />
    </form>
</div>